.bg {
    background-image: url('/public/main page/hdr_img.png');
    width: 1312px;
    height: 820px;
}

.conteiner {
    padding: 0 80px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text {
    mask-border-slice: inherit;
    background-clip: text ;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    flex: 0 0 auto;
    counter-increment: item;
    display: flex;
}

.marquee {
    animation: scroll 20s linear infinite;
}
.marquee1 {
    animation: scroll 15s linear infinite;
}
.marquee2 {
    animation: scroll 15s linear infinite;
}
.marquee3 {
    animation: scroll 15s linear infinite;
}

.shadoww {
    box-shadow: 0 0 22px 1px #00000040;
}

.reverce {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.headr_a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.bt_line::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

.headr_a:hover::before {
    transform: scaleX(1);
    background-color: #FFFFFF;
}

.hd_img {
    -webkit-filter: contrast(98.5%);
    filter: contrast(98.5%);
}

.visible {
    transition: all 3s;
    opacity: 1;
}

.animated {
    transition: all 0.5s;
}

.btn_animated {
    transition: all .15s;
}

.marsel_bg {
    background-image: url('/public/main page/marsel_bg.png');
}
.homyes_bg {
    background-image: url('/public/main page/homyes_bg.png');
}
.starkwood_bg {
    background-image: url('/public/main page/starkwood_bg.png');
}
.security_bg {
    background-image: url('/public/main page/secure_bg.png');
}

.desk_text {
    font-family: "Onest", sans-serif;
}

.constanta {
    font-family: 'Constantia';
}

.bague {
    font-family: 'PF Bague Sans Pro';
}

.phone_1 {
    background: url('public/marsel/phone/phone_1.png') no-repeat;
    filter: drop-shadow(-30px 35px 50px #0000004D);
    background-position: center;
    width: 400px;
    height: 568px;
}
.phone_2 {
    background: url('public/marsel/phone/phone_2.png') no-repeat;
    filter: drop-shadow(-30px 35px 50px #0000004D);
    background-position: center;
    width: 400px;
    height: 568px;
}
.phone_3 {
    background: url('public/marsel/phone/phone_3.png') no-repeat;
    filter: drop-shadow(-30px 35px 50px #0000004D);
    background-position: center;
    width: 400px;
    height: 568px;
}
.phone_4 {
    background: url('public/marsel/phone/phone_4.png') no-repeat;
    filter: drop-shadow(-30px 35px 50px #0000004D);
    background-position: center;
    width: 400px;
    height: 568px;
}

.swiper-wrapper {
    display: flex;
    height: 100%;
}

.swiper-slide {
    width: 500px;
    height: 660px;
}

.list {
    counter-reset: custom-counter;
    list-style: none;
}

.nums1 {
    counter-increment: custom-counter;
}
.nums2 {
    counter-increment: custom-counter;
}
.nums3 {
    counter-increment: custom-counter;
}

.nums1::before {
    content: counter(custom-counter, decimal-leading-zero)'.';
}
.nums2::before {
    content: counter(custom-counter, decimal-leading-zero);
    color: #00000066;
}
.nums3::after {
    content: counter(custom-counter, decimal-leading-zero);
    position: absolute;
    top: 0;
    right: -40px;
    color: #00000066;
}

.povar_bg {
    background: url('/public/food/kitchen_bg.png');
}

.avenir {
    font-family: 'Avenir Next Cyr';
}

.playfair {
    font-family: "Playfair Display", serif;
}

.bayshore {
    font-family: 'Bayshore';
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.littera {
    font-family: 'Littera Text Book';
}

.big_img_text {
    background-color: white;
    background-image: url('/public/vlaston/vlaston_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 498px;
    letter-spacing: -15px;
    line-height: 548px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-family: '';
    -webkit-font-smoothing: antialiased;
}

.rotation_big {
    animation: rotation1 20s infinite linear;
}

@keyframes rotation1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotation_mid {
    animation: rotation2 20s infinite linear;
}

@keyframes rotation2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
}

.sf_pro {
    font-family: 'SF Pro Display';
}

.gilroy {
    font-family: 'Gilroy';
}

.monument {
    font-family: 'Monument Extended';
}

.gotham {
    font-family: 'Gotham Pro';
}

.manrope {
    font-family: "Manrope", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.inputt::placeholder {
    color: #FFFFFF4D;
    font-family: "Onest", sans-serif;
}

.checkbox-input, .radio-input {
    appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 2px;
    border: 0.7px solid #FFFFFF;
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-input {
    border-radius: 100%;
}
.checkbox-input::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    font-size: 30px;
    background-image: url('/public/main page/icons/bl_confirm.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms;
}
.checkbox-input:checked::after {
    width: 8px;
    height: 6px;
    transition: 500ms;
}
.checkbox-input:checked {
    background-color: #D2FE67;
    border-color: #D2FE67;
    transition: 500ms;
}
.radio-input:checked {
    border-color: #D2FE67;
    transition: 500ms;
}
.checkbox-input:checked + label,
.radio-input:checked + label{
    color: #D2FE67;
    transition: 500ms;
}
.radio-input::after {
    content: "";
    display: block;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background-repeat: no-repeat;
    transition: 500ms;
}
.radio-input:checked::after {
    background-color: #D2FE67;
    width: 8px;
    height: 8px;
    transition: 300ms;
}

.radio-input:disabled {
    background: #ccc;
    border-color: #ccc;
}

.checkbox-input:disabled,
.radio-input:disabled {
    background: #ccc;
    border-color: white;
}

.hover_anim_on[on='true'] {
    animation: wobble 1s 1;
}

@keyframes open {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        z-index: 3;
        opacity: 1;
    }
}
@keyframes close {
    from {
        display: block;
        z-index: 3;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

.open-enter {
    opacity: 0;
    transform: scale(0.9);
}
.open-enter-active {
    opacity: 1;
    transform: translateZ(0);
    transition: opacity 300ms, transform 300ms;
}
.open-exit {
    opacity: 1;
}
.open-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.active {
    color: #FFFFFF;
}

.service {
    appearance: none;
}
#serv_1::before {
    content: 'Дизайн лендинга';
}
#serv_2::before {
    content: 'Дизайн многостраничного сайта';
}
#serv_3::before {
    content: 'Дизайн интернет магазина';
}
#serv_4::before {
    content: 'Дизайн новостного сайта / Блога';
}
#serv_5::before {
    content: 'Дизайн приложения';
}
#serv_6::before {
    content: 'Брендинг';
}
.service:checked {
    background-color: #D2FE67;
    color: #000000;
}